version: '2'

services:
   db:
     image: sameersbn/mysql
     volumes:
       - db_data:/var/lib/mysql
     restart: always
     environment:
       DB_NAME: wordpress
       DB_USER: wordpress
       DB_PASS: wordpress

   wordpress:
     depends_on:
       - db
     image: wordpress:latest
     ports:
       - "8000:80"
     restart: always
     environment:
       WORDPRESS_DB_HOST: db:3306
       WORDPRESS_DB_PASSWORD: wordpress
       WORDPRESS_DB_USER: wordpress
       WORDPRESS_DB_NAME: wordpress 
volumes:
    db_data: 